<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WebSocket</title>
    <script th:src="@{js/jquery.min.js}"></script>
    <script th:src="@{js/diff_match_patch.js}"></script>
    <style>
        #message {
            min-height: 120px;
            border: 2px solid #aaa;
        }
        #message1 {
            min-height: 120px;
            border: 2px solid #aaa;
        }
    </style>
</head>
<body>
<div>

    <input type="text"  id="message" value="假如有内容" />
    <br/>
    <input type="text"  id="message1" value="假如有内容" />
    <br/>
    <input type="text"  id="message2" value="文本框一................." />
    <br/>
    <input type="text"  id="message3" value="文本框二................." />

</div>
<br/>
<div id="diff">
</div>
<div id="num"></div>
<br/>
<div class="info">

</div>
<button type="button" onclick="save()">save</button> <button type="button" onclick="diff()">diff之后再保存</button>
<br/>

</body>
<script type="text/javascript">
    var websocket = null;

    //判断当前浏览器是否支持WebSocket
    if('WebSocket' in window){
        websocket = new WebSocket("ws://localhost:8080/websocket");
    }
    else{
        alert('Not support websocket')
    }

    //连接发生错误的回调方法
    websocket.onerror = function(){
        setMessageInnerHTML("error");
    };

    //连接成功建立的回调方法
    websocket.onopen = function(event){

    }

    //接收到消息的回调方法
    websocket.onmessage = function(event){
        var data = event.data;
        var lastStr = data[data.length-1];
        var Str = data.substr(0,2);

        /*<![CDATA[*/
        if (data.length>5){
            var openStr = data.substr(data.length-4,data.length);
        }
        if (Str =="ID"){
            setNumInnerHTML(data);
        }else if (lastStr =="1" && data.length>2) {
            var message = data.substr(0, data.length - 1);
            setMessageInnerHTML(message);


        }else if (lastStr == "2" && data.length>2) {
            var message = data.substr(0, data.length - 1);

            setMessageInnerHTML1(message);

        }else if(openStr =="open"){
            setMessageOpen(data);
        }else if (openStr =="lose"){
            setMessageClose(data);
        }
        /*]]>*/




    }

    //连接关闭的回调方法
    websocket.onclose = function(){

    }

    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
    window.onbeforeunload = function(){
        websocket.close();
    }

    //将消息显示在网页上
    function setMessageInnerHTML(innerHTML){
        document.getElementById("message").value = innerHTML;
    }
    function setMessageInnerHTML1(innerHTML) {
        document.getElementById("message1").value = innerHTML;
    }
    function setNumInnerHTML(innerHTML) {
        var oldStr = document.getElementById("num").innerHTML;
        if (oldStr =="") {
            var sessionId = innerHTML.substr(2,9);
            var num = innerHTML[innerHTML.length-1];
            document.getElementById("num").innerHTML = "本地sessionID:" + sessionId+ "   在线人数："+num;

        }else {

            var sessionId = oldStr.substr(12,9);
            var num = innerHTML[innerHTML.length-1];
            document.getElementById("num").innerHTML = "本地sessionID:" + sessionId + "   在线人数："+num;
        }

    }
    function setDiffInnerHTML(innerHTML) {
        document.getElementById("diff").innerHTML = innerHTML;
    }
    function setMessageOpen(innerHTML) {
        var sessionId= innerHTML.substr(0,9);
        var data = innerHTML.substr(9,innerHTML.length-22)
        document.getElementById("message2").value = data + ",SessionID为:" +sessionId;
    }
    function setMessageClose(innerHTML) {
        document.getElementById("message2").value ="没有人编辑............"
    }

    //关闭连接
    function closeWebSocket(){
        websocket.close();
    }

    // 定时监听div变化


    $("#message").on('input propertychange',function () {
        send();
    });
    $("#message1").on('input propertychange',function () {
        send1();
    });

    var num ;
    // 获取焦点事件
    $("#message").focus(function () {
        var str = document.getElementById("num").innerText;
        var sessionId = str.substr(12,9);
        num = sessionId+"open";
        console.log(num);
       sendNum(num);

    });
    $("#message").blur(function () {
        var str = document.getElementById("num").innerText;
        var sessionId = str.substr(12,9);
        $("#message").attr("disabled",false);
        num = sessionId + "close";
        sendNum(num);
    });
    $("#message1").focus(function () {

        var str = document.getElementById("num").innerText;
        var sessionId = str.substr(12,9);
        num = sessionId+"open";
        console.log(num);
        sendNum(num);
    });
    // $("#message1").blur(function () {
    //     // $("#message1").attr("disabled",false);
    //     num = "close";
    //     sendNum(num);
    // });




    //发送消息
    function send(){
        var a = $("#message").val();
        var message =a+"1";
        websocket.send(message);

    }
    function send1() {
        var b = $("#message1").val();
        var message1 = b+"2";
        websocket.send(message1)
    }
    function sendNum(data) {
        websocket.send(data);
    }


    //对比
    function diff() {
        var my_text = $("#message").val();
        var other_text = $("#message1").val();
        var dmp = new diff_match_patch();
        var patch_list = dmp.patch_make(other_text, my_text);
        patch_text = dmp.patch_toText(patch_list);
        var patches = dmp.patch_fromText(patch_text);
        var results = dmp.patch_apply(patches, other_text);
        setDiffInnerHTML(results[0])
    }




    //获取文本，并展现
    function update() {
        $.get("/texts",function (data,status) {
            var size = data.length;
            var html = '<table>';
            html += '<tbody>';
            html += '<tr>';
            html += '<th>id</th>';
            html += '<th>text</th>';
            html += '</tr>';
            /* <![CDATA[ */
            for (var i = 0;i<size;i++){
                html +='<tr>';
                html +='<td id="textId'+(data[i].id)+'">'+(data[i].id)+'</td>';
                html +='<td id="text'+(data[i].id)+'">'+(data[i].text)+'</td>';
                html +='<td><input id="'+(data[i].id)+'" type="button" onclick="get(this)" value="获取" /></td> ';
                html +='</tr>';
            }
            /* ]]> */
            html +='</tbody>';
            html +='</table>';
            $(".info").html(html);
        })
    }
    setInterval(update,100);

    var id ;
    function get(o) {
        var i="text"+o.id;
        document.getElementById("message").value = $('#'+i).text();
        document.getElementById("message1").value = $('#'+i).text();
        id=o.id;
    }

    //保存
    function save() {
        var text = $("#diff").text();
        var data = {
            "id":id,
            "text":text
        }
        $.ajax({
            type:'post',
            url:"/updateText",
            data:JSON.stringify(data),
            contentType:'application/json;charset=UTF-8',
            dataType:'json',
            success:function (data) {

            }
        })

    }



    function f1(){
        var str = document.getElementById("message2").value;
        var size = str.length
        var sessionId = str.substr(size-9,9);
        var str1 = document.getElementById("num").innerText;
        var sessionId1 = str1.substr(12,9);
        /*<![CDATA[*/
        if (sessionId =="........."){
            $("#message").attr("disabled",false);
        }
        if (sessionId !="........." &&sessionId !=sessionId1){
            $("#message").attr("disabled",true);
        }

        /*]]>*/

    }

    setInterval(f1,100);

</script>
</html>

